parameters:
	level: 2
	checkMissingCallableSignature: false
	treatPhpDocTypesAsCertain: false
	paths:
		- src
		- generated
	dynamicConstantNames:
		- pocketmine\VersionInfo::IS_DEVELOPMENT_BUILD
		- pocketmine\VersionInfo::BUILD_CHANNEL
		- pocketmine\DEBUG
		- pocketmine\IS_DEVELOPMENT_BUILD
		- pocketmine\network\mcpe\protocol\ProtocolInfo::CURRENT_PROTOCOL
	reportUnmatchedIgnoredErrors: false
	ignoreErrors:
		- '#pmmp\\thread#'
		- '#LEVELDB_#'
	typeAliases:
		anyCallable: 'callable(never, never, never, never, never, never, never, never, never, never) : mixed'
		anyClosure: '\Closure(never, never, never, never, never, never, never, never, never, never) : mixed'
